body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: "Eras Medium ITC", Arial, sans-serif; /* Fallback to Arial if Eras Medium ITC is not available */
    background-color: #000; /* Dark background color resembling a theater */
}

.carousel {
    width: 100%;
    height: 100%;
    background-image: url('/images/flik-pik_background');
    background-size: cover;
    background-position: center;
    position: relative;
}

.get-started {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #f44336; /* Red color for the "Get Started" button */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.log-in {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #ffeb3b; /* Yellow color for the "Log In" button */
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-register {
    background-color: #f44336; /* Red color for the register button */
    color: #fff;
    border: none;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    padding: 15px;
    text-decoration: none;
}

.btn-register:hover,
.btn-register:active {
    background-color: #c62828; /* Darker red color on hover/active state */
}

.btn-login {
    background-color: #ffeb3b; /* Yellow color for the login button */
    color: #000;
    border: none;
    border-radius: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
    padding: 10px;
    text-decoration: none;
}

.btn-login:hover,
.btn-login:active {
    background-color: #c6ff00; /* Light green color on hover/active state */
}

.form-control {
    border-color: #ffeb3b; /* Yellow border color for input boxes */
    border-radius: 26px;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
}

.form-label {
    color: #ffeb3b; /* Yellow color for form labels */
    line-height: 2;
    padding-left: 10px;
}

.register {
    color: #ffeb3b; /* Yellow color for register link */
}

.mb-3 {
    padding: 15px;
    border-radius: 4px;
    background: #f44336; /* Red background color for form container */
    margin: 10px;
    padding-bottom: 10%;
}

.login-already-account {
    text-align: center;
    margin-top: 10%;
    color: #ffeb3b; /* Yellow color for text */
    font-size: 12px;
}

.h1 {
    text-align: center;
    margin-top: -2%;
    color: #ffeb3b; /* Yellow color for heading */
    font-size: 20px;
}

.header-logo img{
    position: sticky;
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-top: 10%;
    width: 53%;
    height: 11%;
}

.errorMsg {
    font-size: 14px;
    color: red;
}/* mobile menu */

  
  .topnav {
    overflow: hidden;
    background-color: rgb(87, 130, 23);
    position: relative;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: rgb(223, 145, 77);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: rgb(192, 105, 30);;
    color: rgb(226, 176, 132);
  }
  
  .active {
    background-color: #e6a45f;
    color: rgb(12, 101, 19);
  }

  .mobile-container {
    max-width: 480px; /* Adjust as needed for your target devices */
    height: 100vh;
    margin: 0 auto;
    background-color: white;
    padding: 10px; /* Add some padding for better content spacing */
  }
    /* Adjust font sizes for better readability on mobile */
    h1 {
      text-align: center;
      color: #0f832a;
      font-size: 18px; /* Adjust as needed */
    }
  
    h2 {
      text-align: center;
      color: #0f832a;
      font-size: 16px; /* Adjust as needed */
    }
  
    h3 {
      text-align: left;
      color: #0f832a;
      font-size: 14px; /* Adjust as needed */
      margin: 10px;
    }
  
    p {
      font-size: 14px; /* Adjust as needed */
    }

